header {
  padding: 1em 0;
  display: flex;
  flex-flow: column;
  justify-content: center; 
}
#title {
  text-align: center;
}
nav > ul {
  margin-block: 0;
  padding-inline-start: 0;
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1120px;
}
nav > ul > li {
  border-width: 0px 0px 1px 0px;
  border-color: #000;
  border-style: solid;
  background-color: #FF3123;
  min-width: 138px;
  font-size: 20px;
  font-weight: 400;
}
/* nav > ul > li:first-of-type {
  border-width: 1px 1px 1px 1px;
} */
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #000;
}

.desktop-hide {
  display: none;
}

@media only screen and (max-width: 1119px) {
  nav > ul {
    max-width: 720px;
  }
  nav > ul > li {
    min-width: 178px;
  }
}

@media only screen and (max-width: 767px) {
  .desktop-hide {
    display: block;
  }
  nav {
    position: relative;
  }
  #left-arrow,
  #right-arrow {
    position: absolute;
    z-index: 20;
    left: 1%;
    outline: none;
    border: none;
    background: transparent;
    font-size: 26px;
    line-height: 66%;
    margin: 0;
    padding: 0 2% 1.5vh 4%;
  }
  #right-arrow {
    left: unset;
    right: 1%;
    padding: 0 4% 1.5vh 2%;
  }
  nav > ul {
    flex-flow: row nowrap;
    max-width: 80%;
    overflow-x: auto;
    justify-content: flex-start;
  }
  nav > ul > li {
    min-width: unset;
    padding: 0 1vw 1vh;
  }
}