.move-title {
    font-size: 1.5em;
    font-weight: bold;
}
.box-shadow {
    margin: 1em 0;
    padding: .5em;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 4px 4px #000;
}
.type-power-row {
    display: flex;
    flex-direction: row;
}
.grass {
    background: #7BCE53;
}
.poison {
    background: #AF59A0;
}
.water {
    background: #399BFF;
}
.fire {
    background: #F75131;
}
.normal {
    background: #A7A090;
}
.electric {
    background: #FFC631;
}
.fighting {
    background: #C03028;
}
.steel {
    background: #B8B8D0;
}
.dark {
    background: #705847;
    color: #EEEEEE;
}
.ice {
    background: #98D8D8;
}
.psychic {
    background: #F85888;
}
.flying {
    background: #A890F0;
}
.dragon {
    background: #7038F8;
    color: #EEEEEE;
}
.rock {
    background: #B8A038;
}
.ground {
    background: #E0C068;
}